@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=News+Cycle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@500&family=Nanum+Myeongjo&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif ;
	font-weight: 300;
	font-size: 16px;
	color: #e1e8e3;
	background-color: #24252A;
	object-fit: co;
}
header {
	background-color: #22222A;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5%;
}

.title {
	color: #e1e8e3;
	text-decoration: none;
	font-size: 2.5em;
	transition: all 0.3s ease-in 0s;
}
.title:hover{
	color: #5e778f;
	font-size: 2.6em;
}

.nav-links {
 	list-style: none;
	padding: 10px 15px;
}
.nav-links li {
	padding: 0px 20px;
	margin-right: 20px;
 	border-radius: 45px;
 	display: inline-block;
 	line-height: 25px;
 	text-align: center;

}
.nav-links li a {
	text-decoration: none;
	color: whitesmoke;
	transition: all 0.3s ease 0s;
	
}
.nav-links li a:hover {
	color: #00889a /*#00889a*/; 
	cursor: pointer;
}
button {
	font-family:'Montserrat',sans-serif;
	font-size: 1em;
	color: whitesmoke;
	background-color: #094e63/*#0a365e*/; 
	padding: 3px 16px;
	border: none;
	border-radius: 45px;
	transition: all 0.3s linear 0s;
	cursor: pointer;
}
button:hover{	

	background-color: #00889a;
}

fieldset {
	box-sizing: border-box;
	margin: 50px auto;
	width: 30%;
	height: 80%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 1em;
	border: none;
}
form {
	display: block;
	margin-top: 50px;
}
#content-login-1 {
	width: 100%;
	height: 90vh;
	background-color: lightgrey;
	background: linear-gradient( to bottom, rgba(0,0,0,0.1), rgba(0, 0, 0, 0.9)), url('../img/bg-img3.jpg');
	background-position: 20% 20% ;
	background-attachment: fixed;
	overflow: hidden;
	background-size: cover;
}
#user-icon {
	width: 80px;
	height: 80px;
	opacity: 0.7;
}
.input-box {
	width: 80%;
	height: 37px;
	background: transparent;
	font-family: inherit;
	font-size: 1em;
	border-radius: 0.2em;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #999;
}

